.label-container {
    display: block;
    margin-bottom: 15px;
}

.input-file {
    display: inline-block;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid #ccc;
    padding: 6px;
    border-radius: 4px;
}

.input-file input[type="file"] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}

.input-file span {
    font-weight: bold;
}

#separator {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-top: 8px;
}

.submit {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
}

.submit:hover {
    background-color: #45a049;
}

main{
    padding: 20px 40vw;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 30px;
}

.text {
    border: 0 solid black;
    margin: 50px;
    padding: 0 1em;
}